:root {
  --bg-color: hsl(173,54%,74%);
  --extra-color: hsl(200,12%,19%);
  --light-color: hsl(1,100%,100%);
  --gray-color: hsl(0,0%,80%);
  --accent-color-1: hsl(49,100%,94%);
  --accent-color-2: hsl(49,100%,80%);
  --accent-color-2-a5: hsla(49,100%,80%,0.5);
  --accent-color-3: hsl(49,100%,50%);
  --border-color: hsl(200,12%,19%);
  --focus-color: hsl(190,90%,40%);
  --accent-hover-color-1: hsl(49, 100%, 85%);
  --accent-hover-color-2: hsl(49, 100%, 60%);
  --accent-hover-color-3: hsl(49, 100%, 45%);

  --max-header-width: 1000px;
  --header-height: 4rem;
}

html, body, * {
  box-sizing: border-box;
}
html, body {
  font-family: 'Inconsolata', monospace;
  background-color: var(--bg-color);
  height: 100%;
}

main {
  padding: 1rem;
  margin-top: 4vh;
  width: 98%;
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-rows: 9rem 255px 1fr;
  row-gap: 1rem;
  grid-template-areas:
    "display"
    "keyboard"
    "history";
}

@media (min-width: 672px) {
  main {
    max-width: 660px;
    grid-template-rows: 7rem 255px 1fr;
    row-gap: 1rem;
    grid-template-areas:
      "display"
      "keyboard"
      "history";
  }
}

@media (min-width: 1056px) {
  main {
    max-width: 1200px;
    grid-template-rows: minmax(7rem, min-content) 255px calc(100vh - 4vh - 241px - 6rem - 52px - 1.5rem * 3 - 2rem);
    grid-template-columns: minmax(200px, 700px) 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    grid-template-areas:
      "display history"
      "keyboard history"
      "help history";
  }
}


button {
  background: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}

ul li {
  margin-bottom: 0.5rem;
}
