.display {
  grid-area: display;
  width: 100%;
  min-height: 7rem;
  font-size: 1.75rem;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background: var(--accent-color-2);
  padding: 0.4rem 0.6rem;
}
@media (min-width: 672px) {
  .display {
    min-height: 6rem;
    font-size: 2.25rem;
  }
}
.display:hover  {
  border: 2px solid var(--focus-color);
  cursor: text;
}
.display:focus  {
  border: 2px solid var(--focus-color);
  border-radius: 4px;
}


.display .switch-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 0 0.5rem;
  left:0;
  bottom: 0.3rem;
}

.display .switch {
  font-size: 0.8rem;
  padding: 2px;
  border-radius: 2px;
  background: var(--extra-color);
  color: var(--accent-color-1);
}
.display .switch.active {
  color: var(--accent-color-3);
}

@media (min-width: 672px) {
  .display .switch-wrapper {
    display: none;
  }
}

.input {
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
}

.input:focus {
  border:none;
  outline:none;
  box-shadow: none;
}

.result {
  margin-top: 0.2rem;
  color: var(--extra-color);
  background-color: var(--light-color);
  display: inline-block;
}

.remove-animation {
  display: relative;
  animation-name: fly;
  animation-timing-function: ease;
  animation-duration: 1s;
}

@keyframes fly {
  to {
    transform: translateX(-100px);
    opacity: 0
  }
}
