.help {
  display: none;
  grid-area: help;
  background-color: var(--accent-color-1);
  padding: 2rem;
  border: 2px solid var(--border-color);
  border-radius: 4px;
}
.help.visible {
  display: block;
}
.help .wrapper {
  display: flex;
}
.help .wrapper section:not(:last-of-type) {
  margin-right: 1rem;
}
.help .title {
}
@media (min-width: 1056px) {
  .help {
    display: block;
  }
}
