.history {
  grid-area: history;
  border: 2px solid var(--border-color);
  border-radius: 0.25rem;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  position: relative;
}

.history .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1rem 1rem 1rem;
  background: linear-gradient(to bottom, var(--accent-color-1) 0%, var(--accent-color-1) 75%, hsla(49, 100%, 100%, 0.1) 100%);
}

.history-list {
  overflow: auto;
  height: 100%;
  padding: 60px 1rem 1rem 1rem;
  margin:0;
  background: var(--accent-color-1);
}
.history-list .history-item:focus {
  background: var(--accent-color-2-a5);
}

.history-item {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--border-color);
  list-style-type: none;
}
.history-item {
  margin-bottom: 1rem;
}
.history-item:hover {
  border: 1px solid var(--focus-color);
}
.history-item > .line {
  text-align: right;
}

.line:not(:last-of-type) {
  margin-bottom: 1rem;
}

.history .expression {
  border-radius: 0.25rem;
  padding: 0.3rem;
  background-color: var(--accent-color-2);
}
.answer {
  border-radius: 0.25rem;
  padding: 0.3rem;
  background-color: var(--light-color);
}
