.keyboard-wrapper {
  grid-area: keyboard;
  display: flex;
  justify-content: center;
}
.keyboard {
  display: inline-flex;
  max-width: calc(95px * 6);
}
.keyboard button {
  cursor: pointer;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 4px;
  margin: 0.1rem;
}
.keyboard button:focus {
  border: 2px solid black;
}
.keyboard:focus {
  border: 2px solid var(--border-color)
}

.keyboard .scientific-mode {
  display: none;
}

.keyboard .scientific-mode.visible {
  display: flex;
}

.keyboard .scientific-mode-only {
  display: none;
}

.keyboard .scientific-mode-only.visible {
  display: flex;
}

.keyboard .basic-mode.invisible {
  display: none;
}

@media (min-width: 672px) {
  .keyboard .basic-mode.invisible {
    display: flex;
  }
  .keyboard .scientific-mode {
    display: flex;
  }
  .keyboard .scientific-mode-only,
  .keyboard .scientific-mode-only.visible
  {
    display: none;
  }
}

.one-col {
  display: flex;
  flex-flow: row wrap;
  width: calc((100% - 0.2rem) / 3);
}
.one-col button {
  width: 100%;
}

.two-col {
  display: flex;
  flex-flow: row wrap;
  width: calc((100% - 0.4rem) / 1.5);
}

.two-col button {
  width: calc((100% - 0.4rem) / 2);
}

.three-col {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.three-col button {
  width: calc((100% - 0.6rem) / 3);
}
.three-col button.span-2 {
  width: calc((100% - 0.3rem) / 3 * 2);
}


.number {
  background-color: var(--accent-color-1);
}
.number:hover {
  background-color: var(--accent-hover-color-1);
}

@media (hover: none) {
  .number {
    background-color: var(--accent-color-1);
  }
}


.op {
  background-color: var(--accent-color-2);
}
.op:hover {
  background-color: var(--accent-hover-color-2);
}

@media (hover: none) {
  .op {
    background-color: var(--accent-color-2);
  }
}


.func {
  background-color: var(--accent-color-3);
}
.func:hover {
  background-color: var(--accent-hover-color-3);
}

@media (hover: none) {
  .func {
    background-color: var(--accent-color-3);
  }
}

.misc {
  background-color: var(--accent-color-1);
}
.misc:hover {
  background-color: var(--accent-hover-color-1);
}

@media (hover: none) {
  .misc {
    background-color: var(--accent-color-1);
  }
}
